* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(127, 255, 212, 0.835);
}
.container {
    display: flex;
    background-color: palegoldenrod;
    margin: 5rem;
    padding: 2rem;

    align-items: center;
    justify-content: center;
}
form {
    display: block;
    align-items: center;
    justify-content: center;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;
    font-weight: 300;
}
input {
    border: none 5px;
    border-radius: 5px;
    text-align: center;
    margin: 1rem;
}
p {
    float: left;
}
